# *
# !*/

# .cache
# .cargo
# .tmux
# .local
# Programs
# clones
# jolan
# temp

# !.Xmodmap
# !.bash_profile
# !.bashrc
# !.dmenurc
# !.profile
# !.xsession
# !.tmux.conf

# !.config/**
# !fonts/

*

!.Xmodmap
!.bash_profile
!.bashrc
!.dmenurc
!.gitignore
!.profile
!.xsession
!.tmux.conf

!.config/
.config/*
!.config/alacritty/
!.config/alacritty/**/*
!.config/i3/
!.config/i3/**/*
!.config/keepassxc/
!.config/keepassxc/**/*
!.config/nvim/
!.config/nvim/**/*
!.config/picom/
!.config/picom/**/*
!.config/vivaldi/
!.config/vivaldi/**/*
!.config/vivaldi/
!.config/vivaldi/**/*
!.config/tmux/
!.config/tmux/**/*


!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/fonts/
!.local/share/fonts/**/*
